    <!-- Image and text -->


    <div id="classesDiv">
        <div class="container-fluid">
            <h1 id="classesText">Hello, {{Player.name}}</h1>
            <p>Each class will give you certain set of goals to achieve in a particular area. Choose your class wisely!</p>
        </div>
        <div class="container">

            <div class="row">
                <div class="col s12 m8 l7">
                    <a href="/home/{{Player.googleId}}" id="warriorSelect">
                        <div class="box warriorbox">
                            <div class="icon">
                                <i class="fas fa-shield-alt"></i>
                                <!-- <img class="fas" src="C:\Users\alexp\OneDrive\Desktop\sword.png" alt=""> -->
                            </div>
                            <div class="content">
                                <h3>Warrior / Health & Fitness</h3>
                                <p>The Warrior class will help you track and follow your health & fitness goals!</p>
                            </div>
                        </div>
                    </a>

                </div>
                <div class="col s12 m8 l7">
                    <a href="/home/{{Player.googleId}}" id="clericSelect">
                        <div class="box clericbox">
                            <div class="icon cleric">
                                <i class="fas fa-book"></i>
                            </div>
                            <div class="content">
                                <h3>Cleric / Reading</h3>
                                <p>The Cleric class will help you track and follow your reading goals!</p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="col s12 m8 l7">
                    <a href="/home/{{Player.googleId}}" id="wizardSelect">
                        <div class="box wizardbox">
                            <div class="icon wizard">
                                <i class="fas fa-hat-wizard"></i>
                            </div>
                            <div class="content">
                                <h3>Wizard / Mathematics</h3>
                                <p>The Wizard class will help you track and follow your mathematics goals!</p>

                            </div>
                        </div>
                    </a>
                </div>

                <div class="col s12 m8 l7">
                    <a href="/home/{{Player.googleId}}" id="bankerSelect">
                        <div class="box bankerbox">
                            <div class="icon banker">
                                <i class="fas fa-coins"></i>
                            </div>
                            <div class="content">
                                <h3>Banker / Financial</h3>
                                <p>The Banker class will help you track and follow your financial goals!</p>
                            </div>
                        </div>
                    </a>
                </div>

            </div>
        </div>
    </div>

    <script src="../public/js/classes.js"></script>
